// .usd {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 450px;
//     right: -300px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

.nas {
    height: 40px;
    width: 150px;
    background-color: rgb(199, 202, 11);
    position: absolute;
    top: 250px;
    right: -300px;
    font-family: 'Abril Fatface', cursive;
    border-radius: 50px;
    box-shadow: 5px 5px rgb(220, 236, 145);
    transition: ease-out 0.4s;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: url(/img/link-cursor.png),auto;
    z-index: 3; 
    font-size: x-large;
    object-fit: contain;
    text-align: center;
}

.xau {
    height: 40px;
    width: 150px;
    background-color: rgb(199, 202, 11);
    position: absolute;
    top: 250px;
    right: -525px;
    font-family: 'Abril Fatface', cursive;
    border-radius: 50px;
    box-shadow: 5px 5px rgb(220, 236, 145);
    transition: ease-out 0.4s;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: url(/img/link-cursor.png),auto;
    z-index: 3; 
    font-size: x-large;
    object-fit: contain;
    text-align: center;
}

// .eur {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 250px;
//     right: -750px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

// .cad {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 250px;
//     right: -975px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

// .nzd {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 250px;
//     right: -1200px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

// .aud {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 250px;
//     right: -1425px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

// .gbp {
//     height: 40px;
//     width: 150px;
//     background-color: rgb(199, 202, 11);
//     position: absolute;
//     top: 250px;
//     right: -1650px;
//     font-family: 'Abril Fatface', cursive;
//     border-radius: 50px;
//     box-shadow: 5px 5px rgb(220, 236, 145);
//     transition: ease-out 0.4s;
//     color: rgb(255, 255, 255);
//     outline: none;
//     cursor: url(/img/link-cursor.png),auto;
//     z-index: 3; 
//     font-size: x-large;
//     object-fit: contain;
//     text-align: center;
// }

