.title1 {
    position: absolute;
    background-color: rgb(22, 185, 8);
    top: 225px;
    right: -395px;
    width: 200px;
    height: 105px;
    text-align: center;
    text-shadow: 2px 2px rgb(24, 24, 23),
                 3px 3px rgb(24, 24, 23),
                 4px 4px rgb(24, 24, 23);
    box-shadow: 1px 1px 0px rgb(15, 141, 4),
                2px 2px 0px rgb(15, 141, 4),
                3px 3px 0px rgb(15, 141, 4),
                4px 4px 0px rgb(15, 141, 4),
                5px 5px 0px rgb(15, 141, 4),
                6px 6px 0px rgb(15, 141, 4),
                7px 7px 0px rgb(15, 141, 4),
                8px 8px 0px rgb(15, 141, 4),
                9px 9px 0px rgb(15, 141, 4),
                10px 10px 0px rgb(15, 141, 4);
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.playButton1 {
    height: 30px;
    width: 200px;
    background-color: rgb(199, 202, 11);
    position: absolute;
    top: 350px;
    right: -405px;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    border-radius: 50px;
    box-shadow: 5px 5px rgb(220, 236, 145);
    transition: ease-out 0.4s;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: url(/img/link-cursor.png),auto;
    font-size: large;
}
